.thumbnails-container {
  border: 0.2rem solid yellowgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
}
.thumbnails {
  /* border: 0.2rem solid orange; */
}
.thumbnails img {
  height: 200px;
  width: 200px;
}
